services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  backend:
    build: 
      context: ./backend
      dockerfile: dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - redis
    environment:
      - NODE_ENV=production
      - MONGODB=mongodb://mongodb:27017/projekt
      - REDIS_URL=redis://redis:6379

  frontend:
    build: 
      context: ./frontend
      dockerfile: dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - backend
    
volumes:
  mongo-data:
  redis-data: